<!-- Contact section ends -->

<section class="contact" id="contact">
    <h1 class="heading"><span>Liên hệ</span> với chúng tôi</h1>
    <div class="container">
        <div class="col-md">
            <div class="icons">
                <i class="fas fa-map-marker-alt"></i>
                <h3>address</h3>
                <p>17 Lê Duẩn, Phường Bến Nghé, Quận 1, TP. Hồ Chí Minh</p>
            </div>
        </div>
        <div class="col-md">
            <div class="icons">
                <i class="fas fa-envelope"></i>
                <h3>email</h3>
                <p>contactUs@gmail.com</p>
                <p>fashionShop@gmail.com</p>
            </div>
        </div>
        <div class="col-md">
            <div class="icons">
                <i class="fas fa-phone"></i>
                <h3>phone</h3>
                <p>+123-456-7890</p>
                <p>+111-222-3333</p>
            </div>
        </div>
    </div>
    <div class="container contact-form">
        <div class="col-md">
            <form id="feedbackForm">
                <h3>Phản Hồi</h3>
                <div class="row">
                    <div class="col">
                        <input id="phoneNumber" type="text" placeholder="Số điện thoại của bạn">
                    </div>
                    <div class="col">
                        <input id="issue" type="text" placeholder="Vấn Đề">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <textarea id="feedback" placeholder="Nội dung phản hồi của bạn" cols="30" rows="10"></textarea>
                        <input type="submit" value="Gửi Phản Hồi" class="btn">
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d501726.4604617804!2d106.41502662042029!3d10.754666392389565!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529292e8d3dd1%3A0xf15f5aad773c112b!2sHo%20Chi%20Minh%20City%2C%20Vietnam!5e0!3m2!1sen!2sin!4v1678547723395!5m2!1sen!2sin" width="600" height="450" style="border: 0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>

<!-- Contact section ends -->
