<!-- Deal section ends -->

<section class="deal">
    <div class="image">
        <img src="https://raw.githubusercontent.com/anhvu13/fashion.github.io/main/tranding_img.png" alt="">
    </div>

    <div class="content">
        <span>mùa mới đang hot!</span>
        <h3>bộ sưu tập mùa hè tốt nhất</h3>
        <p>giảm giá lên đến 50%</p>
        <a href="#" class="btn">mua ngay</a>
    </div>
</section>

<!-- Deal section ends -->
