<section class="footer">
    <footer class="footer">
        <div class="contact-info">
            <a href="#" class="logo"><img src="~/image/logo.jpg" alt="Logo"></a>
            <div class="contact-details">
                <div>ZOE - Văn phòng</div>
                <div>ZOE - Lê Quý Đôn (Book Coffee)</div>
                <div>ZOE® SNEAKER & CRAFT: số 173A đường Nguyễn Văn Hưởng, phường Thảo Điền, Quận 2, HCM</div>
            </div>
            <div class="contact-other">
                <div>Điện thoại: 0931999499</div>
                <div>Email: <a href="mailto:cskh.giaystore@gmail.com">cskh.giaystore@gmail.com</a></div>
            </div>
        </div>
        <div class="social-icons">
            <a href="#" alt="Facebook"><i class="fa-brands fa-facebook"></i></a>
            <a href="#" alt="TikTok"><i class="fa-brands fa-tiktok"></i></a>
            <a href="#" alt="Instagram"><i class="fa-brands fa-instagram"></i></a>
        </div>
        <div class="policies">
            <a href="#">HƯỚNG DẪN MUA HÀNG</a> |
            <a href="#">HÌNH THỨC THANH TOÁN</a> |
            <a href="#">CHÍNH SÁCH BẢO HÀNH - ĐỔI TRẢ</a> |
            <a href="#">CHÍNH SÁCH BẢO MẬT</a> |
            <a href="#">CHÍNH SÁCH KIỂM HÀNG</a> |
            <a href="#">CHÍNH SÁCH GIAO HÀNG</a>
        </div>
        <div class="certification">
            <img src="~/Content/Images/gov.jpg" alt="Đã Thông Báo Bộ Công Thương">
        </div>
        <div class="copyright">
            Copyright © 2024 ZOE®. Powered by Haravan
        </div>
    </footer>
</section>

