
@{
    ViewBag.Title = "Bảng điều khiển";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="overview">
    <div class="title">
        <i class="uil uil-tachometer-fast-alt"></i>
        <span class="text">Dashboard</span>
    </div>
    <div class="boxes">
        <div class="box box1">
            <i class="uil uil-thumbs-up"></i>
            <span class="text">Lượt Thích</span>
            <span class="number">50,120</span>
        </div>
        <div class="box box2">
            <i class="uil uil-comments"></i>
            <span class="text">Bình Luận</span>
            <span class="number">20,120</span>
        </div>
        <div class="box box3">
            <i class="uil uil-share"></i>
            <span class="text">Chia sẽ</span>
            <span class="number">10,120</span>
        </div>
    </div>
</div>





